[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
covid = "*"
click = "*"
click-spinner = "*"
click-help-colors = "*"
colorama = "*"
tabulate = "*"

[dev-packages]
pyinstaller = "*"
autopep8 = "*"
flake8 = "*"
rope = "*"

[requires]
python_version = "3.9"
